aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.7
cffi==1.13.2
chardet==3.0.4
Click==7.0
discord.py==1.2.5
Flask==1.1.1
Flask-MySQL==1.5.1
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.0
MarkupSafe==1.1.1
multidict==4.7.4
pycparser==2.19
PyMySQL==0.9.3
six==1.14.0
websockets==6.0
Werkzeug==0.16.1
yarl==1.4.2
