html{
    overflow-x: hidden;
  }
  
  .row{
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* Images */ 
  img{
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Main body of page */
  body{
    background-color: #FEF7E3;
    font-family: 'Raleway', sans-serif;
  }
  
  /* Paragraph */
  p{
    color: #000000;
  }html{
  overflow-x: hidden;
}

h1{
    color:#CDBE95;
}

.row{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15;
}

/* Images */ 
img{
  margin-left: auto;
  margin-right: auto;
}

/* Main body of page */
body{
 background-color: #FEF7E3;
  font-family: 'Raleway', sans-serif;
}

/* Paragraph */
p{
  color: #000000;
}


/* Center images */
.centered{
  text-align: center;
}

/* IF SCREEN SIZE = SMALL */
@media (max-width: 767px) {                  
  .headerText {
     display: none;
  }
}

/* #divSaftey {
  display: none;
} */

#divSubCatTitle{
  display: none;
}

#divSubCatSafety{
  display: none;
}

#divSubCatWorkshop{
  display: none;
} 


/* Textboxes for user input */
.formInput{
  width: 100%;
  border: 1px solid #ff4040;
}


/* Header text */
.headerText a{
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
.headerText{
  position: relative;
  float: right;
  margin-top: -20px;
}

/* Header image USING*/
.headerImg {
  text-align: center;
  margin-top: -5%;
  width: 100%;
  height: auto;
  margin-left: -40%;
}
@media screen and (max-width: 575px) {
  .headerImg{
    margin-top: -20px;
  }
}

/* Text showing user login */
.signOutLarge{
  margin-top: -20px;
  width: 100%;
}
.signOutLarge a{
  color: #ffffff;
  font-size: 20px;
  float: right;
  text-decoration: none;
  margin-top: -15px;
  font-weight: bold;
}
.signOutLarge p{
  color: #ffffff;
  font-size: 20px;
  text-align: right;
}

/* Hide login bar for larger screens */
.signOutBar{
  width: 100%;
  display: none;
  height: 50px;
}
.signOutWelcome{
  float: left;
  margin-top: -20px;
  margin-left: 15px;
}
.signOutWelcome p{
  color: #ff4040;
  top: -20px;
}
.textSignOut{
  float: right;
  margin-top: -32px;
  margin-right: 15px;
}
.textSignOut a{
  color: #f229bd;
  text-decoration: none;
  font-weight: bold;
}

/* Horizontal line underneath signOutBar */
.signOutBarLine{
  display: none;
  float: center;
  border-bottom: 1.5px solid #ff4040;
  margin-top: 10px;
  width: 100%;
  margin-right: 30px;
}

/* Show bar for small screens */
@media screen and (max-width: 767px) {
  .signOutBar{
    display: block;
  }
  .signOutBarLine{
    display: block;
  }
  .signOutLarge{
    display: none;
  }
}


/* 
-- Most pages --
*/

/* Image on top of page */
.topImg {
  border: 2px solid #ff4040;
  opacity: 0.9;
  position: relative;
}

/* Top image text */
#topImgcontent{
  background-color: white;
  color: black;
  font-size: 5vw; 
  font-weight: bolder;
  margin: 0 auto;
  padding: 3px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  border-radius: 8px;
}

/* Navigation bar (burger button included) USING */
.topnav {
  overflow: hidden;
  margin-top: -32px;
  width: 100%;
  margin-left: 42%;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  display: block;
  color: #ff4040;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-image: linear-gradient(#ff4040, #f2b929);
  transition: 0.3s;
  color: white;
}

/*
.topnav a.active {
  background-image: linear-gradient(#ff4040, #f229bd);
  color: white;
}*/

.topnav .icon {
  display: none;
  color: #ff4040;
}

/* If mobile device, change navbar to small */
@media screen and (max-width: 767px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Hide navbar on pages listed below 
#login .topnav{
  display: none;
}*/


/* 
--login.html --
 */
.loginForm{
  float: center;
  margin-top: 40px;
}

/* Clickable links on page*/
.loginLink{
  color: #f229bd;
}

.loginLink:hover{
  color: #f2b929;
}

.loginPersonal{
  width: 100%;
  float: left;
}

.loginBuisness{
  width: 100%;
  float: right;
}

/* Vertical line in center */
.loginVertLine{
  border-left: 1.5px solid #ff4040;
  height: 210px;
  position: absolute;
  left: 50%;
  margin-top: -10px;
  top: 0;
}

/* Horizontal line underneath signOutBar */
.loginHorLine{
  display: none;
  float: center;
  border-bottom: 1.5px solid #ff4040;
  margin-top: 50px;
  width: 100%;
  margin-right: 30px;
}

/* Hide vertical line for small screens */
@media screen and (max-width: 767px) {
  .loginVertLine{
    display: none;
  }
  .loginBuisness{
    margin-top: 50px;
  }
  .loginHorLine{
    display: block;
  }
}


/* 
-- findcourse.html --
*/

/* Catergory bar background */
.catbar{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  height: auto;
  width: 100%;
  background-color: #dadada80;
}

/* Side navigation bar for catergories */
.catergoryNav {
  width: 100%;
}

/* reset our lists to remove bullet points and padding */
.catMenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.catMenu a {
  display: block;
  background-color: #ff4040;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
}

/* Hover on main menu */
.catMenu a:hover {
  background-color: #f229bd;
  transition: 0.3s;
}

/* when hovering over a .catMenu item,
display the submenu inside it.
we're changing the submenu's max-height from 0 to 200px;
*/
.catMenu li:hover .submenu {
  display: block;
  max-height: 1000px;
}

/*
we now overwrite the background-color for .submenu links only.
CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #ffffff;
  color: #000000;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #f2b929;
  color: #ffffff;
  transition: 0.3s;
}

/* this is the initial state of all submenus.
we set it to max-height: 0, and hide the overflowed content.
*/
.submenu{
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}

/* Drop down menu arrow */
i{
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  float: right;
  padding: 5px;
}
.dropDownArrow{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Course search bar */
.searchBar{
  width: 50%;
  float: left;
  margin-top: 15px;
}

.card{
  display: inline-block;
  margin-right: 5%;
  margin-top: 20px;
}


/*
-- customerHome.html
*/
.helloCustomer{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: auto;
  width: 100%;
  background-color: #dadada80;
}

.certificateNote{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-right: 15px;
  height: auto;
  width: 100%;
  background-color: #dadada80;
}

.certificateDisplay{
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-right: 15px;
  height: auto;
  width: 100%;
}


/*
-- adminlogin.html --
*/
.loginAdmin{
  width: 50%;
  float: center;
}


/*
-- adminhome.html --
*/
.adminHomeMsg{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #dadada80;
}

.adminHome{
  color: #000000;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 0px;
  height: auto;
  width: 100%;
  text-align: center;
}

.AdminContainer{
  position: relative;
  width: 100%;
  max-width: 400px;
}

.AdminContainer img{
  width: 100%;
  height: auto;
}

.AdminContainer .contBtn{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 150%);
  -ms-transform: translate(-50%, 50%);
  background-color: #ff4040;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: auto;
}
.AdminContainer .contBtn:hover{
  background-image: linear-gradient(#ff4040, #f2b929);
  transition: 0.3s;
  color: white;
}

/* Clickable links on page*/
.adminLink{
  color: #f229bd;
  text-decoration: none;
  font-weight: bold;
}

.adminLink:hover{
  color: #f2b929;
  text-decoration: none;
  font-weight: bold;
}

/* 
-- Buttons -- 
*/
.btn{
  background-color: #ff4040;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.btn:hover{
  background-image: linear-gradient(#ff4040, #f2b929);
  transition: 0.3s;
  color: white;
}

#sessionDetails{
  text-align: right;
}
  
  /* Center images */
  .centered{
    text-align: center;
  }
  
  /* IF SCREEN SIZE = SMALL */
  @media (max-width: 767px) {                  
    .headerText {
       display: none;
    }
  }
  
  /* 
  -- Page header -- 
  */
  .jumbotron{
    background-color: #2A7971;
    border-bottom-color: #2A7971;
    border-bottom-style: solid;
    border-radius: 0px;
    height: 100px;
    margin-top: -5px;
    width: 100%;
  }
  
  /* Header text Using*/
  .headerText a{
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
  }
  .headerText{
    position: relative;
    float: right;
    margin-top: -20px;
  }
  
  /* Header image */
  .headerImg {
    text-align: center;
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 575px) {
    .headerImg{
      margin-top: -20px;
    }
  }
  
  /* Show bar for small screens */
  @media screen and (max-width: 767px) {
    .signOutBar{
      display: block;
    }
    .signOutBarLine{
      display: block;
    }
    .signOutLarge{
      display: none;
    }
  }
  
  
  /* 
  -- Most pages --
  */
  
  /* Image on top of page */
  .topImg {
    border: 2px solid #ff4040;
    opacity: 0.9;
    position: relative;
  }
  
  /* Top image text */
  #topImgcontent{
    background-color: white;
    color: black;
    font-size: 5vw; 
    font-weight: bolder;
    margin: 0 auto;
    padding: 3px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    border-radius: 8px;
  }
  
  /* Navigation bar (burger button included) USING */
  .topnav {
    overflow: hidden;
    margin-top: -32px;
    width: 100%;
    background-color: #FEF7E3;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #CCBE95;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topnav a:hover {
    background-image: linear-gradient(#2A7971, #FEF7E3);
    transition: 0.3s;
    color: white;
  }
  
  /*
  .topnav a.active {
    background-image: linear-gradient(#ff4040, #f229bd);
    color: white;
  }*/
  
  .topnav .icon {
    display: none;
    color: #ff4040;
  }
  
  /* If mobile device, change navbar to small */
  @media screen and (max-width: 767px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 767px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  /* 
  -- Buttons -- 
  */
  .btn{
    background-color: #ff4040;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }
  
  .btn:hover{
    background-image: linear-gradient(#ff4040, #f2b929);
    transition: 0.3s;
    color: white;
  }