html{
    overflow-x: hidden;
  }
  
  .row{
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* Images */ 
  img{
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Main body of page*/
  body{
    background-color: #FEF7E3;
    font-family: 'Raleway', sans-serif;
  }
  
  /* Paragraph */
  p{
    color: #000000;
  }html{
  overflow-x: hidden;
}

h1{
    color:#CDBE95;
}

.row{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15;
}

/* Images */ 
img{
  margin-left: auto;
  margin-right: auto;
}

/* Main body of page USING*/
body{
 background-color: white;
  font-family: Georgia;
}

/* Paragraph */
p{
  color: #000000;
}


/* Center images */
.centered{
  text-align: center;
}

/* IF SCREEN SIZE = SMALL */
@media (max-width: 767px) {                  
  .headerText {
     display: none;
  }
}

/* #divSaftey {
  display: none;
} */

#divSubCatTitle{
  display: none;
}

#divSubCatSafety{
  display: none;
}

#divSubCatWorkshop{
  display: none;
} 

#hrs{
  margin-top:-10px;
}


/* Textboxes for user input */
.formInput{
  width: 100%;
  border: 1px solid #ff4040;
}


/* Header text */
.headerText a{
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
.headerText{
  position: relative;
  float: right;
  margin-top: -20px;
}

/* Header image USING*/
.headerImg {
  text-align: center;
  margin-top: -5%;
  width: 100%;
  height: auto;
  margin-left: -40%;
}
@media screen and (max-width: 575px) {
  .headerImg{
    margin-top: -20px;
  }
}

/* Text showing user login */
.signOutLarge{
  margin-top: -20px;
  width: 100%;
}
.signOutLarge a{
  color: #ffffff;
  font-size: 20px;
  float: right;
  text-decoration: none;
  margin-top: -15px;
  font-weight: bold;
}
.signOutLarge p{
  color: #ffffff;
  font-size: 20px;
  text-align: right;
}

/* Hide login bar for larger screens */
.signOutBar{
  width: 100%;
  display: none;
  height: 50px;
}
.signOutWelcome{
  float: left;
  margin-top: -20px;
  margin-left: 15px;
}
.signOutWelcome p{
  color: #ff4040;
  top: -20px;
}
.textSignOut{
  float: right;
  margin-top: -32px;
  margin-right: 15px;
}
.textSignOut a{
  color: #f229bd;
  text-decoration: none;
  font-weight: bold;
}

/* Horizontal line underneath signOutBar */
.signOutBarLine{
  display: none;
  float: center;
  border-bottom: 1.5px solid #ff4040;
  margin-top: 10px;
  width: 100%;
  margin-right: 30px;
}

/* Show bar for small screens */
@media screen and (max-width: 767px) {
  .signOutBar{
    display: block;
  }
  .signOutBarLine{
    display: block;
  }
  .signOutLarge{
    display: none;
  }
}


/* 
-- Most pages --
*/

/* Image on top of page */
.topImg {
  border: 2px solid #ff4040;
  opacity: 0.9;
  position: relative;
}

/* Top image text */
#topImgcontent{
  background-color: white;
  color: black;
  font-size: 5vw; 
  font-weight: bolder;
  margin: 0 auto;
  padding: 3px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  border-radius: 8px;
}

/* Navigation bar (burger button included) USING */
.topnav {
  overflow: hidden;
  margin-top: -32px;
  width: 100%;
  margin-left: 42%;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  display: block;
  color: #ff4040;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.card{
  display: inline-block;
  margin-right: 5%;
  margin-top: 20px;
}

.card-body{
  background-color: #1a1919;
  color: white;
}

.card-text{
  text-align: center;
}

.card-img-top{
  min-height: 200px;
  max-height: 200px;
  max-width: 200px
}

/*
-- customerHome.html
*/
.helloCustomer{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: auto;
  width: 100%;
  background-color: #dadada80;
}

.certificateNote{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-right: 15px;
  height: auto;
  width: 100%;
  background-color: #dadada80;
}

.certificateDisplay{
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-right: 15px;
  height: auto;
  width: 100%;
}


/*
-- adminlogin.html --
*/
.loginAdmin{
  width: 50%;
  float: center;
}


/*
-- adminhome.html --
*/
.adminHomeMsg{
  color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #dadada80;
}

.adminHome{
  color: #000000;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 0px;
  height: auto;
  width: 100%;
  text-align: center;
}

.AdminContainer{
  position: relative;
  width: 100%;
  max-width: 400px;
}

.AdminContainer img{
  width: 100%;
  height: auto;
}

.AdminContainer .contBtn{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 150%);
  -ms-transform: translate(-50%, 50%);
  background-color: #ff4040;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: auto;
}
.AdminContainer .contBtn:hover{
  background-image: linear-gradient(#ff4040, #f2b929);
  transition: 0.3s;
  color: white;
}

/* Clickable links on page*/
.adminLink{
  color: #f229bd;
  text-decoration: none;
  font-weight: bold;
}

.adminLink:hover{
  color: #f2b929;
  text-decoration: none;
  font-weight: bold;
}

/* 
-- Buttons -- 
*/
.btn{
  background-color: #ff4040;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.btn:hover{
  background-image: linear-gradient(#ff4040, #f2b929);
  transition: 0.3s;
  color: white;
}

#sessionDetails{
  text-align: right;
}
  
  /* Center images */
  .centered{
    text-align: center;
  }
  
  /* IF SCREEN SIZE = SMALL */
  @media (max-width: 767px) {                  
    .headerText {
       display: none;
    }
  }
  
  /* 
  -- Page header -- 
  */
  .jumbotron{
    background-color: #1a1919;
    border-bottom-color: #1a1919;
    border-bottom-style: solid;
    border-radius: 0px;
    height: 100px;
    margin-top: -5px;
    width: 100%;
    font-family: Georgia;
  }
  
  /* Header text Using*/
  .headerText a{
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
  }
  .headerText{
    position: relative;
    float: right;
    margin-top: -20px;
  }
  
  /* Header image */
  .headerImg {
    text-align: center;
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 575px) {
    .headerImg{
      margin-top: -20px;
    }
  }
  
  /* Show bar for small screens */
  @media screen and (max-width: 767px) {
    .signOutBar{
      display: block;
    }
    .signOutBarLine{
      display: block;
    }
    .signOutLarge{
      display: none;
    }
  }
  
  /* Navigation bar (burger button included) USING */
  .topnav {
    overflow: hidden;
    margin-top: -32px;
    width: 100%;
    background-color: white;
    color: black;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topnav a:hover {
    background-image: linear-gradient(#1a1919, #ffffff);
    transition: 0.3s;
    color: white;
  }
  
  /* If mobile device, change navbar to small */
  @media screen and (max-width: 767px) {
    .topnav{
      margin-left:200px;
    }
  }

  @media screen and (max-width: 575px) {
    .topnav{
      margin-left:0px;
    }
  }
