{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<div class="row">
    <img src="{{url_for('static', filename = 'img/bannerBreakfast.png')}}" alt="Card image cap" width="100%" height="50%">
</div>
<br><br>
<div class="row">
    <div class="col-md-3">
        <h3>Opening Hours</h3>
        <p>Monday:       08:30 - 14:00</p>
        <p id="hrs">Tuesday:      08:30 - 14:00</p>
        <p id="hrs">Wednesday:    08:30 - 14:00</p>
        <p id="hrs">Thursday:     08:30 - 14:00</p>
        <p id="hrs">Friday:       08:30 - 14:00</p>
        <p id="hrs">Saturday:     08:30 - 14:00</p>
        <p id="hrs">Sunday:       08:30 - 14:00</p>
    </div>
    <div class="col-md-5">
        <h3>Bringing Brunch to You.</h3>
        <p>Cafe Kichen opens for the first time and we are excited to begin bringing you beautiful breakfast, brilliant service, and boastful views.
            With the option for dine in, or to-your-door delivery, there really is no reason not to make your morning better with a Cafe Kitchen breakfast.
            Contact us <a href="/contact">here</a> to enquire about a booking, or just to ask a question!</p>
    </div>
    <div class="col-md-4">
        <h3>Find Us Here.</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2335.2033024710113!2d-2.9389590110398536!3d56.468804469727196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48865c5988aa8743%3A0x35c04d13cffc7dba!2sTayview!5e0!3m2!1sen!2suk!4v1598693588078!5m2!1sen!2suk" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <a href="/menu">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static', filename = 'img/breakfast.png')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text">Food Menu</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="/menu">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static', filename = 'img/coffee.png')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text">Drinks Menu</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="/#">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static', filename = 'img/takeAwayCoffee.png')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text">Takeaway</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="/contact">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static', filename = 'img/contact.png')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text">Contact Us</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g186518-d4023187-Reviews-Tayview_Hotel_Restaurant-Dundee_Scotland.html">
            <div class="card">
                <img class="card-img-top" src="{{url_for('static', filename = 'img/review.png')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text">Review Us</h5>
                </div>
            </div>
        </a>
    </div>
    
</div>
<br>
{% endblock %}