{% extends "base.html" %}
{% block content %}
<br><br>
<div class="row">
    <div class="card" style="width: 45%;">
        <img class="card-img-top" src="{{url_for('static', filename = 'img/fullScottishBreakfast.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Full Scottish breakfast, complete with locally sourced produce.</p>
        </div>
    </div>
    <div class="card" style="width: 45%;">
        <img class="card-img-top" src="{{url_for('static', filename = 'img/breakfastPAstries.jpg')}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">A selection of pastries, made fresh this morning.</p>
        </div>
    </div>
</div>
<br>
{% endblock %}