{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<div class="row">
    <div class="col-md-6">
        <p>Please view our menu below, alteratively, download it <a href="{{url_for('static', filename = 'pdf/menu.pdf')}}">here</a>.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="{{url_for('static', filename = 'img/menuP1.png')}}" width="90%" height="90%">
    </div>
    <div class="col-md-4">
        <img src="{{url_for('static', filename = 'img/menuP2.png')}}" width="90%" height="90%">
    </div>
    <div class="col-md-4">
        <img src="{{url_for('static', filename = 'img/menuP3.png')}}" width="90%" height="90%">
    </div>
</div>
{% endblock %}